.marginTop23{
    margin-top: 1.3rem;
}
.marginTop33{
    margin-top: 3.3rem;
}
.margTop40{
    margin-top: 5rem;
}
.margTop10{
    margin-top: 0.3rem;
}
.marginLeft12{
    margin-left: 0.5rem;
}
.marginLeft18{
    margin-left: 1rem;
}
.marginLeft28{
    margin-left: 3rem;
}
.marginBottom22{
    margin-bottom: 2rem;
}
.marginBottom12{
    margin-bottom: 1rem;
}